:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-size-m: 16px;
  --font-size-l: 32px;

  --border-radius-s: 8px;
  --border-radius-m: 16px;

  --primary-color: #8dbce6;
  --secondary-color: #d8e6f3;
}
